<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <script src="../js/medico.js"></script>

  <title>Lista de medicos</title>
</head>

<body onload="listaMedico()">
  <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand">Listado Medicos</a>
    <a href="./crearMedico.html" class="navbar-brand">Agregar un nuevo medico</a>
  </nav>
  <div class="container text-center">
    <div class="form-group mb-2">

    </div>
    <div class="container__buscardor">
      <input required="" type="search" name="text" class="input__buscador" id="Search">
      <input type="submit" class="btn btn-secondary mb-2" value="Buscar"  onclick="listaMedico();">
    </div>
    <table class="container text-center">
      <thead class="thead-dark">
        <tr class="miTabla">
          <th class="thform-fieldd" scope="col">Id</th>
          <th class="thform-fieldd" scope="col">Tipo de Documento</th>
          <th class="thform-fieldd" scope="col">Número de Documento</th>
          <th class="thform-fieldd" scope="col">Primer Nombre</th>
          <th class="thform-fieldd" scope="col">Segundo Nombre</th>
          <th class="thform-fieldd" scope="col">Primer Apellido</th>
          <th class="thform-fieldd" scope="col">Segundo Apellido</th>
          <th class="thform-fieldd" scope="col">Correo</th>
          <th class="thform-fieldd" scope="col">Teléfono</th>
          <th class="thform-fieldd" scope="col">Estado</th>
          <th class="thform-fieldd" scope="col">Eliminar</th>
        </tr>
      </thead>
  </div>
  </div>
  <tbody id="cuerpoTabla">
  </tbody>
  </table>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>